@mixin circle-icon-box($bg_color){
    display: inline-block;
    background-color: $bg_color;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    svg{
        width: 13px;
        height: 13px;
        }
}
@mixin flex-row($justify, $align) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}
@mixin flex-column($justify, $align) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}
@mixin round-horizontal-box($bg_color){
    background-color: $bg_color;
    border-radius: 25px;
    @include flex-row(space-between, center);
}
$body_background_color:#f6f3f1;
$primary_text_color: #CFA773;
$secondary_text_color: #ddc8a9;
$primary_bg_color: #EFE9E6;
$secondary_bg_color: #EADFCF;
$third_bg_color:#efeae6;
$green:#1C6441;
$lightgreen:#266e4b;
$darkgreen:#165737;
$red: #e53737;
$gray: #929292;
$f-15: 0.9375rem;
$f-13: 0.8125rem;
$f-12: 0.75rem;
$f-16: 1rem;
$f-18: 1.125rem;
*{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.3;
}
p, ul, h3{
    padding: 0;
    margin: 0;
}
.wrapper{
    max-width: 1460px;
    width: 98%;
    margin: auto!important;
}
body{
    background-color: $body_background_color;
}
h1{
    font-size: 58px;
    font-weight: 700;
}
h2{
    font-size:$f-18;
    font-weight: 600;
    padding-bottom: 30px;
}
h3{
    font-size: 38px;
    font-weight: 500;
}
a{
    color: #000;
    &:hover{
        color: #000;
        text-decoration: none;
    }
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 40px;
    border:none;
    border-radius: 25px;
    font-weight: 600;
    color: $primary_text_color;
    font-size: $f-12;
    &:hover{
        color: $primary_text_color;
    }
}
.cirlce-btn{
    border-radius: 50%;
}
.btn-green{
    background-color: $green;
}
.btn-remove{
    display: block;
    background-color: #fff;
    background-image: url('../../assets/img/icons/cross.svg');
    background-position: center;
    border-radius: 50%;
    background-size: 8px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.btn-gold{
    color: $primary_text_color;
    background-color: $primary_bg_color;
}
.select{
    padding: 13px 13px 13px 45px;
    position: relative;
    font-size: inherit;
    select{
        padding-right: 25px;
        font-size: inherit;
        border: none;
        appearance: none;
        background-color: inherit;
        background-image: url('../../assets/img/icons/drop-down-arrow.svg');
        background-size: 10px;
        background-repeat: no-repeat;
        background-position: right 10px center;
        option{
            color: $primary_text_color;
        }
    }
}
section{
    padding: 50px 0;
}
.custom-input-number{
    height: 100%;
    @include flex-row(center,center);
    input[type="number"]{
        appearance: textfield;
        width: 50%;
        height:100%;
        text-align: center;
        border: 1px solid $third_bg_color;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button
    {
      -webkit-appearance: none;
      margin: 0;
    }
    .increment, .decrement{
        @include flex-row(center,center);
        color: $primary_text_color;
        background-color: $third_bg_color;
        font-weight: 700;
        width: 25%;
        height: 100%;
        margin-right: 1px;
        font-size: $f-18;
        cursor: pointer;
        user-select: none;
    }
    &.out-of-stock::after{
        content:"Not enough in stock";
        color: $red;
        position: absolute;
        right: -10px;
        width: 40px;
        font-size: 10px;
        line-height: 1;
        font-weight: 600;
    }
}
.switch{
    position: relative;
    width: 60px;
    height: 30px;
    background-color: $primary_bg_color;
    border-radius: 25px;
    input[type="checkbox"]{
        cursor: pointer;
        opacity: 0;
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
    }
    .switch-body{
        border: 2px solid $primary_bg_color;
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 300ms;
        &::before{
            content: "";
            height: 100%;
            width: 50%;
            position: absolute;
            top: 0;
            left: 0%;
            transition: 300ms;
            background-color: #fff;
            border-radius: 50%;
        }
    }
    .icons{
        >span{
            transition: 300ms;
        }
        .right{
            opacity: .3;
        }
    }
    input:checked{
        &+ .switch-body::before{
         left: 50%;
        }
        &~ .icons .left{
            opacity: .3;
        }
        &~ .icons .right{
            opacity: 1;
        }
    }
    .icons{
        @include flex-row(space-between, center);
        position: absolute;
        top: -2px;
        left: 2px;
        right: 0;
        width: 45px;
        margin: auto;
        height: 100%;
    }
}
input[type="text"], textarea{
    border: none;
    width: 100%;
    padding: 7px 15px;
    font-weight: 600;
    font-size: $f-12;
}
.center-mode-slider{
    .slick-slide{
        transition: 300ms;
        &:not(.slick-center){
            opacity: .5;
            transform: scale(.8);
        }
        &.slick-center{
            text-align: center;
            position: relative;
            z-index: 9;
        }
    }
}