.item{
    background-color: #fff;
    @include flex-column(center, center);
    padding: 20px;
    width: 323px;
    height: 377px;
    box-shadow: -2.5px 15.8px 68px #B49D7f48;
    position: relative;
    &.promo::before{
        content: url('../assets/img/promo.png');
        background-color: $green;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 10px;
        display: block;
        width: 30px;
        height: 30px;
    }
    .item-name{
        font-size: $f-18;
        font-weight: 600;
        margin: 40px 0 0;
    }
    .subtext{
        color: $primary_text_color;
        font-size: $f-12;

    }
    .top-panel{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .bottom-panel{
        width: 100%;
        @include flex-row(space-between, center);
        .price{
            .new{
                font-size: $f-18;
                font-weight: 600;
            }
            .old{
                text-decoration: line-through;
                font-size: $f-12;
                color: $gray;
            }
        }
    }
}