.item{
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding: 20px 10px;
    box-shadow: -2.5px 15.8px 68px #B49D7f48;
    position: relative;
    margin: 2px 0;
    min-width: 260px;
    &.promo::before{
        content: "";
        background-image: url('../../assets/img/promo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-color: $green;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        left: 15px;
        display: block;
        width: 60px;
        height: 60px;
    }
    .item-img{
        margin-top: 15px;
    }
    .item-name{
        font-size: $f-18;
        font-weight: 600;
        margin: 30px 0 0;
    }
    .subtext{
        color: $primary_text_color;
        font-size: $f-12;
    }
    .top-panel{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .bottom-panel{
        width: 100%;
        @include flex-row(space-between, center);
        .price{
            padding-right: 50px;
            .new{
                font-size: 18px;
                font-weight: 600;
            }
            .old{
                text-decoration: line-through;
                font-size: $f-12;
                color: $gray;
            }
        }
    }
}