#similar{
  background: linear-gradient( -90deg, rgb(239,233,230) 0%, rgb(246,243,241) 100%);
    .item{
        min-width: 288px;
        &:not(:last-child){
            margin-right: 4px;
        }
    }
}